
.headerImages{
  width: 100%;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.main-header{
    width: 100%;
    margin-top: 70px;
}
.slider4{
  width: 100%;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width:768px) {
  .main-header{
    overflow-x: hidden;
  }
  
}